html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  background: #F5F5F5;
  height: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

.wrap {
  display: flex;
  width: 100vw;
  flex-grow: 1;
  position: relative;
}

.dropzone {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#my-gui-container {
  position: absolute;
  top: 50px;
  left: 1px;
  z-index: 10;
}

#my-gui-glb {
  position: absolute;
  top: 200px;
  right: 1px;
  z-index: 10;
}

#val {
  top: 1000px;
  left: 500px;
}

#my-gui-report {
  position: absolute;
  top: 185px;
  left: 1px;
  z-index: 10;
  height: 100vh;

}

#leftDiv {
  position: absolute;
  height: 100vh;
  width: 0vh;
  background-color: #000;
}

#leftDiv.active {
  left: -300px;
}

#rightDiv {
  position: absolute;
  right: 0px;
  height: 100vh;
  width: 0vh;
  background-color: #000;
}

#rightDiv.active {
  right: -300px;
}

#my-gui-errorReport {
  position: absolute;
  background-color: #f0f0f0;
  color: 'red';
  top: 350px;
  left: 1px;
  z-index: 10;
}

#my-gui-color {
  position: absolute;
  top: 250px;
  right: 1px;
  z-index: 10;
}

#my-gui-hdri {
  position: absolute;
  top: 1px;
  right: 1px;
  z-index: 10;
}

#my-gui-material {
  position: absolute;
  top: 380px;
  right: 1px;
  z-index: 10;
}

#my-gui-texture {
  position: absolute;
  top: 450px;
  right: 1px;
  z-index: 10;
}

#left {
  width: 20vh;
  height: 100vh;
}

.placeholder {
  border: 4px dashed rgb(70, 70, 255);
  height: 50%;
  width: 100%;
  max-width: 500px;
  border-radius: 0.5em;
  background: #EEE;
  padding: 2em;
}

#width {
  position: absolute;
  width: 5%;
  top: 5px;
  left: 45%;
}

#height {
  position: absolute;
  top: 5px;
  left: 54%;
  width: 5%;
}

#widthText {
  position: absolute;
  top: 5px;
  left: 41.5%;
}

#heightText {
  position: absolute;
  top: 5px;
  left: 50.5%;
}

p {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

#screenshot {
  position: absolute;
  width: 8%;
  margin-left: 60%;
  margin-top: 5px;
}

.placeholder p {
  padding-top: 50%;
  font-size: 1.2rem;
  color: #999;
  text-align: center;
}


/******************************************************************************
   * Header
   */

.upperText {
  position: absolute;
  top: 1px;
  left: 42%;
}

#file2 {
  position: absolute;
  top: 100px;
  left: 55%;
}

.reference {
  position: absolute;
  top: 40px;
  left: 55%;
}

#file1 {
  position: absolute;
  top: 100px;
  left: 30%;
}

.screenshot {
  position: absolute;
  top: 40px;
  left: 30%;
}

.pred {
  position: absolute;
  top: 22%;
  left: 42%;
  font-size: 18px;
  color: black;
  font-family: fantasy;
}

/* CSS */
.button-63 {
  position: absolute;
  left: 42%;
  top: 13%;
  align-items: center;
  background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 19px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-63:active,
.button-63:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-63 {
    font-size: 18px;
    min-width: 196px;
  }
}


/******************************************************************************
   * Upload Button
   *
   * https://tympanus.net/Tutorials/CustomFileInputs/
  */

.upload-btn {
  margin-top: 2em;
}

.upload-btn input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.upload-btn label {
  color: #353535;
  border: 0;
  border-radius: 3px;
  transition: ease 0.2s background;
  font-size: 1rem;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
}

.upload-btn label:hover {
  background: #DDD;
}

.upload-btn svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  margin-right: 0.25em;
}

#my-gui-errorReport .property-name {
  color: #b10026;
  text-shadow: none !important;
  font-weight: 900;
  font: bold 50px;
}

#my-gui-errorReport .c {
  color: #b10026;
  text-shadow: none !important;
  font-weight: 900;
}

#my-gui-errorReport input,
select,
textarea {
  color: #ff0000;
  font-weight: 900;
}

#my-gui-report input,
select,
textarea {
  color: #ffffff;
  font-weight: 200;
}

#my-gui-container input,
select,
textarea {
  color: #ffffff;
  font-weight: 200;
}

#my-gui-hdri input,
select,
textarea {
  color: #010101;
  font-weight: 900;
}

#my-gui-material input,
li,
select,
textarea {
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
}

#my-gui-material select {
  color: #000000;
  font-weight: 200;
}

#my-gui-glb select {
  color: #000000;
  font-weight: 200;
}

#my-gui-hdri select {
  color: #000000;
  font-weight: 200;
}

#my-gui-texture select {
  color: #000000;
  font-weight: 200;
}

#my-gui-hdri input {
  color: rgb(255, 255, 255);
  font-weight: 500;
}

label,
textarea {
  font-size: .8rem;
  letter-spacing: 1px;
}

textarea {
  position: absolute;
  right: 20%;
  bottom: 8%;
  padding: 10px;
  max-width: 100%;
  color: #000;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  pointer-events: all;
  resize: vertical;
}
.dot {
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 50%;
  overflow: hidden; 
  cursor: pointer;
  color: rgb(0, 0, 0);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
  line-height: 24px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  pointer-events: all;
  
}
.textField{
  width: 140px;
  height: 65px;
  user-select: all;
  top: -1%;
  left: 3.5%;
}
#add{
  position: absolute;
  bottom: 56%;
  right: 2.5%;
  display: none;
}
#remove{
  position: absolute;
  bottom: 53%;
  right: 2.5%;
  display: none;
}
/* CSS */
.button-65 {
  appearance: none;
  backface-visibility: hidden;
  background-color: #ffffff;
  border-radius: 2px;
  border-style: none;
  box-shadow: none;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif; */
  font-size: 15px;
  font-weight: 200;
  /* height: 50px; */
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  /* padding: 14px 30px; */
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-65:hover {
  background-color: #1366d6;
  box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button-65:hover:after {
  opacity: .5;
}

.button-65:active {
  box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
  transform: translateY(2px);
  transition-duration: .35s;
}

.button-65:active:after {
  opacity: 1;
}

@media (min-width: 768px) {
  .button-65 {
    /* padding: 14px 22px; */
    width: 120px;
  }
}
