
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    background: #F5F5F5;
    height: 100%;
    overflow: hidden;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  .wrap {
    display: flex;
    width: 100vw;
    flex-grow: 1;
    position: relative;
  }
  
  .dropzone {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  #my-gui-container {
    position: absolute;
    top:50px;
    left: 1px;
    z-index: 10;
  }
  #my-gui-glb {
    position: absolute;
    top: 240px;
    right: 1px;
    z-index: 10;
  }
  #val{
    top: 1000px;
    left: 500px;
  }
  #my-gui-report {
    position: absolute;
    top: 185px;
    left: 1px;
    z-index: 10;
    height: 100vh;
    
  }
  #leftDiv{
    position: absolute;
    height: 100vh;
    width: 0vh;
    background-color: #000;
  }
  #leftDiv.active {
    left:-300px;
  }

  #rightDiv{
    position: absolute;
    right: 0px;
    height: 100vh;
    width: 0vh;
    background-color: #000;
  }
  #rightDiv.active {
    right:-300px;
  }

  #my-gui-errorReport {
    position: absolute;
    background-color: #f0f0f0;
    color: 'red';
    top: 350px;
    left: 1px;
    z-index: 10;
  }
  
  #my-gui-color {
    position: absolute;
    top: 300px;
    right: 1px;
    z-index: 10;
  }
  #my-gui-hdri {
    position: absolute;
    top: 1px;
    right: 1px;
    z-index: 10;
  }

  #my-gui-material {
    position: absolute;
    top: 430px;
    right: 1px;
    z-index: 10;
  }

  #left{
    width: 20vh;
    height: 100vh;
  }
  
  .placeholder {
    border: 4px dashed rgb(70, 70, 255);
    height: 50%;
    width: 100%;
    max-width: 500px;
    border-radius: 0.5em;
    background: #EEE;
    padding: 2em;
  }
  #width{
    position:absolute;
    width:5%;
    top:5px;
    left:45%;
  }
  #height{
    position:absolute;
    top:5px;
    left:54%;
    width: 5%;
  }
  #widthText{
    position: absolute;
    top: 5px;
    left:41.5%;
  }
  #heightText{
    position: absolute;
    top: 5px;
    left:50.5%;
  }
  p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
 }

  #screenshot{
    position: absolute;
    width:8%;
    margin-left: 60%;
    margin-top: 5px;
  }
  
  .placeholder p {
    padding-top: 50%;
    font-size: 1.2rem;
    color: #999;
    text-align: center;
  }
  
  .viewer {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    position: absolute;
    top: 0;
    z-index: 0;
  }
  
  .axes {
      width: 100px;
      height: 100px;
      margin: 20px;
      padding: 0px;
      position: absolute;
      left: 0px;
      bottom: 0px;
      z-index: 10;
      pointer-events: none;
  }
  
  a {
    position: relative;
    top: 5px;
    left: 70%;
    outline: none;
    text-decoration: none;
    display: inline-block;
    width: 5%;
    margin-right: 0.625%;
    text-align: center;
    line-height: 2;
    color: rgb(255, 255, 255);
  }
  
  li:last-child a {
    margin-right: 0;
  }
  
  a:link, a:visited, a:focus {
    background: rgb(35, 35, 27);
  }
  
  a:hover {
    background: orange;
  }
  
  a:active {
    background: red;
    color: white;
  }
  /******************************************************************************
   * Header
   */

   .upperText{
    position: absolute;
    top: 1px;
    left: 42%;
  }
  #file2{
    position: absolute;
    top: 100px;
    left: 55%;
  }
  .reference{
    position: absolute;
    top: 40px;
    left: 55%;
  }
  #file1{
    position: absolute;
    top: 100px;
    left: 30%;
  }
  .screenshot{
    position: absolute;
    top: 40px;
    left: 30%;
  }
  .pred{
    position: absolute;
    top: 22%;
    left: 42%;
    font-size: 18px;
    color: black;
    font-family: fantasy;
  }
  /* CSS */
  .button-63 {
    position: absolute;
      left: 42%;
      top: 13%;
      align-items: center;
      background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
      border: 0;
      border-radius: 8px;
      box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
      box-sizing: border-box;
      color: #FFFFFF;
      display: flex;
      font-family: Phantomsans, sans-serif;
      font-size: 20px;
      justify-content: center;
      line-height: 1em;
      max-width: 100%;
      min-width: 140px;
      padding: 19px 24px;
      text-decoration: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      white-space: nowrap;
      cursor: pointer;
  }
  
  .button-63:active,
  .button-63:hover {
      outline: 0;
  }
  
  @media (min-width: 768px) {
    .button-63 {
    font-size: 18px;
     min-width: 196px;
    }
  }
  
  header {
    display: flex;
    background: #353535;
    padding: 0 2em;
    height: 4rem;
    line-height: 4rem;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.3);
    z-index: 1;
  
    -webkit-app-region: drag;
  }
  
  header h1,
  header .item,
  header .separator {
    color: #F5F5F5;
    font-weight: 300;
    line-height: 4rem;
    margin: 0;
  }
  
  header h1 {
    font-size: 1.4rem;
  }
  
  header h1 > a {
    color: inherit;
    font-size: inherit;
    text-decoration: inherit;
  }
  
  header .item {
    padding: 0 1em;
    font-size: 0.8rem;
    text-decoration: none;
    transition: background ease 0.2s;
  
    -webkit-app-region: no-drag;
  }
   
  header .item:hover {
    background: #444;
  }
  
  header button.item {
    height: 34px;
    line-height: 35px;
    padding: 0 1em;
    border: 0;
    background: #ffc107;
    color: #333;
    font-weight: 500;
    border-radius: 2px;
    cursor: pointer;
  }
  
  header button.item:hover {
    color: #000;
  }
  
  header .separator {
    margin: 0 0.2em;
    opacity: 0.2;
  }
  
  header h1 + .separator {
    margin-left: 1em;
  }
  
  .flex-grow {
    flex-grow: 1;
  }
  
  .gui-wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
  }
  
  .gui-wrap > .main {
    pointer-events: all;
    max-height: 100%;
    overflow: auto;
  }
  
  .dg li.gui-stats:not(.folder) {
    height: auto;
  }
  
  @media screen and (max-width: 700px) {
    header h1 {
      font-size: 1em;
    }
  
    .layout-md {
      display: none;
    }
  }
  
  /******************************************************************************
   * Upload Button
   *
   * https://tympanus.net/Tutorials/CustomFileInputs/
   */
  
  .upload-btn {
    margin-top: 2em;
  }
  
  .upload-btn input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  
  .upload-btn label {
    color: #353535;
    border: 0;
    border-radius: 3px;
    transition: ease 0.2s background;
    font-size: 1rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
  }
  
  .upload-btn label:hover {
    background: #DDD;
  }
  
  .upload-btn svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
  }
  
  
  /******************************************************************************
   * Validation toggle
   */
  
  .report-toggle-wrap.hidden { display: none; }
  
  .report-toggle {
    cursor: pointer;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 20px;
    height: 30px;
    box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.25);
    background: #FFF;
    box-sizing: border-box;
  
    color: #f0f0f0;
    background: #000;
    border-left: 6px solid #000;
  }
  
  .report-toggle.level-1 { color: #444; background: #ffeda0; border-left-color: #feb24c; }
  .report-toggle.level-0 { color: #444; background: #f4c2be; border-left-color: #b10026; }
  
  .report-toggle-text {
    line-height: 32px;
    padding: 0 0.5em;
    font-weight: 300;
    font-size: 0.8em;
  }
  
  .report-toggle-close {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 1.5em;
    text-align: center;
  }
  
#my-gui-errorReport .property-name{
  color: #b10026;
  text-shadow: none !important;
  font-weight:900;
  font: bold 50px;
}
#my-gui-errorReport .c{
  color: #b10026;
  text-shadow: none !important;
  font-weight:900;
}
#my-gui-errorReport input, select, textarea{
  color: #ff0000;
  font-weight: 900;
}
#my-gui-report input, select, textarea{
  color: #ffffff;
  font-weight: 900;
}
#my-gui-container input, select, textarea{
  color: #ffffff;
  font-weight: 900;
}
#my-gui-hdri input, select, textarea{
  color: #010101;
  font-weight: 900;
}
#my-gui-material input, li, select, textarea{
  color: #ffffff;
  font-weight: 900;
}
#my-gui-material select{
  color: #000000;
  font-weight: 900;
}
#my-gui-glb select{
  color: #000000;
  font-weight: 900;
}
#my-gui-hdri select{
  color: #000000;
  font-weight: 900;
}